In [10]:
print("Hello world",'I am Ravi',sep='\'#\'')

Hello world'#'I am Ravi

In [11]:
print("Hello world",'I am Ravi','madhu',sep='\n')

Hello world
I am Ravi
madhu

In [12]:
print("Hello world",'I am Ravi','madhu',sep='\t')

Hello world	I am Ravi	madhu

In [13]:
print(This is my first python program")

SyntaxError: invalid syntax (3121532120.py, line 1)

In [14]:
print("This is my first python program)

SyntaxError: EOL while scanning string literal (1770034500.py, line 1)

In [15]:
print(This is my first python program)

SyntaxError: invalid syntax (2598292411.py, line 1)

In [16]:
print(This is my first python program')

SyntaxError: invalid syntax (262762411.py, line 1)

In [17]:
print("This is my first python program"

SyntaxError: unexpected EOF while parsing (2738201397.py, line 1)

In [18]:
print('This is my first python program',"hello world",sep=' @ ')

This is my first python program @ hello world

In [19]:
print "my name is ravi"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("my name is ravi")? (4032209568.py, line 1)

In [20]:
print(" my name is ravi", end=' ')
print("-Data scientist")

 my name is ravi -Data scientist

In [21]:
# My name is Tatireddy Ravi-----> (single line comment) to avoid execution or help in explain code

In [22]:
# multiline comment using TRIPLE SINGLE quotes.
'''adbjdkdmkmd
dndjdmmdkdkd
dnbdkslnhdkd
dldjmdkldk'''
# multiline comment  using TRIPLE DOUBLE quotes.
""" aeaudhepoebodjd 
nshjsndsd
ngsjskukkd"""

' aeaudhepoebodjd \nnshjsndsd\nngsjskukkd'

## variable

- Variables are containers for storing data values.
- Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [33]:
#n Variable is a local istance or global instance where we can store the data value.
a=10
b='ravi '
print(a*b)
print(a*b,sep='@')

ravi ravi ravi ravi ravi ravi ravi ravi ravi ravi
ravi ravi ravi ravi ravi ravi ravi ravi ravi ravi

In [15]:
a

10

In [16]:
type(a)

int

In [17]:
id(a)

1751287622224

In [18]:
b

'ravi '

In [19]:
type(b)

str

In [24]:
name="Madhu"

In [25]:
name

'Madhu'

In [26]:
id(name)

2811263363376

In [27]:
name="Eshwar prasadh Reddy"

In [28]:
name

'Eshwar prasadh Reddy'

In [29]:
id(name)

2811264297280

In [30]:
print("taajaga")

taajaga

In [31]:
type(name)

str

In [34]:
print(a,b,name)

10 ravi  Eshwar prasadh Reddy

In [33]:
print(a,b,name,sep='$')

10$ravi $Eshwar prasadh Reddy

In [35]:
# creating multiple variables in a single line
a,b,s=30,"ravi",'this is my name'

In [36]:
# check the data value of variable
a

30

In [37]:
print(b)

ravi

In [38]:
s

'this is my name'

In [39]:
# values of more than one variable gives in the form of tupple.
a,b,s

(30, 'ravi', 'this is my name')

In [40]:
print(a,b,s)

30 ravi this is my name

In [41]:
print(a,b,s,sep=',')

30,ravi,this is my name

In [42]:
a='"sadagag"'

In [43]:
b="'madhu'"

In [44]:
print(a)

"sadagag"

In [45]:
print(b)

'madhu'

In [46]:
a,b

('"sadagag"', "'madhu'")

## casting
- If you want to specify the data type of a variable, this can be done with casting.

In [47]:
x = str('ravi')    # x will be 'ravi'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [48]:
print(f"{x} is the string value")
print(f" {y} is the integer value")
print("the floating point value is:{0}".format(z))
print("{} is string {} is float and {} is integer".format(x,z,y))
print("{0} is string {2} is float and {1} is integer".format(x,y,z))

ravi is the string value
 3 is the integer value
the floating point value is:3.0
ravi is string 3.0 is float and 3 is integer
ravi is string 3.0 is float and 3 is integer

In [49]:
print(f"{x} is string,{y} is integer, and {z} is floating point number")
print("{} is string,{} is integer,and {} is floating point number".format(x,y,z))

ravi is string,3 is integer, and 3.0 is floating point number
ravi is string,3 is integer,and 3.0 is floating point number

In [50]:
x=3+5j

In [51]:
type(x)

complex

In [52]:
x.real()

TypeError: 'float' object is not callable

In [53]:
x.real

3.0

In [54]:
x.imag

5.0

In [55]:
y=complex(7,8)

In [56]:
y

(7+8j)

## Variable names
- A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).
### Rules for Python variables:
- A variable name must start with a letter or the underscore(_) character.
- A variable name cannot start with a number.
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
- Variable names are case-sensitive (age, Age and AGE are three different variables).

In [57]:
1b='ravi'

SyntaxError: invalid syntax (3799489249.py, line 1)

In [58]:
_B='madhu'

In [59]:
b='tatireddy'

In [60]:
2b='asdf'

SyntaxError: invalid syntax (4218181388.py, line 1)

In [61]:
@=12

SyntaxError: invalid syntax (1379519580.py, line 1)

In [62]:
_=12

In [63]:
__=12

In [64]:
a!=4652

True

In [65]:
email id=16295     # space is not allowe in variable names

SyntaxError: invalid syntax (562385664.py, line 1)

In [66]:
name="ravi"
email_id="newage.ravi@gmail.com"
emp_id=16295
password="password"

## Python Data Structures or Data types

- Python has the following data types built-in by default,

    - Text Type:	str
    - Numeric Types:	int, float, complex
    - Sequence Types:	list, tuple, range
    - Mapping Type:	dict
    - Set Types:	set, frozenset
    - Boolean Type:	bool
    - Binary Types:	bytes, bytearray, memoryview
    - None Type:	NoneType

In [101]:
str("hello world")

'hello world'

In [102]:
int(16295)

16295

In [114]:
int(16295,2145)

ValueError: int() base must be >= 2 and <= 36, or 0

In [103]:
float(264)

264.0

In [107]:
complex(1,2)

(1+2j)

In [115]:
complex(1,2,8)

TypeError: complex() takes at most 2 arguments (3 given)

In [111]:
list("ravi",24,56.8,True)

TypeError: list expected at most 1 argument, got 4

In [112]:
list(("ravi",24,56.8,True))

['ravi', 24, 56.8, True]

In [113]:
tuple("madhu",31,50.5,True)

TypeError: tuple expected at most 1 argument, got 4

In [116]:
tuple(("madhu",31,50.5,True))

('madhu', 31, 50.5, True)

In [117]:
range(9)

range(0, 9)

In [75]:
x=range(9)

In [76]:
list(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [77]:
tuple(x)

(0, 1, 2, 3, 4, 5, 6, 7, 8)

In [80]:
dict(name='ravi',empid=264)

{'name': 'ravi', 'empid': 264}

In [81]:
set(('a',2,2,4,8,5,4))

{2, 4, 5, 8, 'a'}

In [82]:
frozenset(('a',5,5,4,2,2,8,7))

frozenset({2, 4, 5, 7, 8, 'a'})

In [84]:
bool(5)

True

In [85]:
bytes(5)

b'\x00\x00\x00\x00\x00'

In [86]:
bytearray(8)

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00')

In [87]:
memoryview(bytes(5))

### type()
- used to know the datatype of any object

In [88]:
a=10.6

In [89]:
type(a)

float

In [90]:
b=1.24565
type(b)

float

In [91]:
k=True
type(k)

bool

In [92]:
l=False
type(l)

bool

In [95]:
int(True)

1

In [96]:
int(False)

0

In [97]:
True+True+True+False+True

4

In [98]:
False+True+True

2

In [102]:
False+False
False+True

1

In [103]:
False+False
False+True
True+True

2

In [104]:
print(True)

True

In [105]:
True*True

1

In [106]:
int(False)

0

In [107]:
float(True)

1.0

In [108]:
int(True)

1

In [109]:
True/False

ZeroDivisionError: division by zero

In [67]:
import numpy

In [68]:
a=1/0

ZeroDivisionError: division by zero

In [112]:
n=45+6j

In [113]:
type(n)

complex

In [114]:
n.real

45.0

In [116]:
n.imag

6.0

In [117]:
n

(45+6j)

In [118]:
# complex= real+imag---> 'j' is  only notation to represent a complex number
m=2+3j

In [119]:
n*m

(72+147j)

In [120]:
n+m

(47+9j)

In [121]:
1+'ravi'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [123]:
'2'+'RAVI'

'2RAVI'

In [124]:
str(264)+'Ravi'

'264Ravi'

In [125]:
1+1.0

2.0

In [126]:
1+2.0+(2+0j)

(5+0j)

In [127]:
'Tatireddy'+'Ravi'

'TatireddyRavi'

In [132]:
'Madhu   '*3

'Madhu   Madhu   Madhu   '

In [133]:
"madhu"*3.0

TypeError: can't multiply sequence by non-int of type 'float'

In [134]:
'ravi'-'Madhu'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [135]:
a=10

In [136]:
a=input()

264

In [137]:
b=input()

16295

In [138]:
b

'16295'

In [139]:
 s=input('Enter a integer:')

Enter a integer:ravi

In [140]:
type(s)

str

In [141]:
s

'ravi'

In [142]:
a=int(input("Enter first input:"))
b=int(input("Enter second num:"))
c=int(input("Enter third num;"))
o1=(a+b)/c
print(o1)
d=complex(input("Enter complex num:"))
o2=o1+d
print(o2)
o3=str(o2)+'Ravi'
print(o3)

Enter first input:2
Enter second num:3
Enter third num;2
2.5
Enter complex num:2+3j
(4.5+3j)
(4.5+3j)Ravi

In [143]:
a=int(input("Enter number lesser than 34:"))

Enter number lesser than 34:30

In [144]:
a

30

In [147]:
a=int(input("enter the number:"))
if a<34:
    print("Data input is lesser than 34 and i am fine with it")
elif a<100:
    print('my num is lesser than 100')
else:
    print('user input is not lesser than 34')

enter the number:101
user input is not lesser than 34

In [148]:
salary=int(input("Enter your salary:"))
if salary>1000:
    print("your salary is good")
    if salary>5000:
        print("i will go with maruthi")
    elif salary>10000:
        print("i will go with ravi")
    elif salary>50000:
        print("i will go with tayota")
    else:
        print("i will rent a car")        
elif salary>500:
    print("i will go for bike")
elif salary<100:
    print("i will not buy anything")
else:
    print("i will go for saving")

Enter your salary:15000
your salary is good
i will go with maruthi

## Python type casting
- Type casting in python is done using constructor functions:

- int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
- float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
- str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [149]:
int(3)

3

In [150]:
int(3.3)

3

In [151]:
int('ravi')

ValueError: invalid literal for int() with base 10: 'ravi'

In [152]:
int('10')

10

In [153]:
float(26)

26.0

In [154]:
float(2.3)

2.3

In [155]:
float('madhu')

ValueError: could not convert string to float: 'madhu'

In [156]:
float('26.4')

26.4

In [157]:
str(1)

'1'

In [158]:
str(2.3)

'2.3'

In [159]:
str("eshwar")

'eshwar'

## Python operators
- Operators are used to perform operations on variables and values.
- Python divides the operators in the following groups:

    - Arithmetic operators: addition(+),subtraction(-),multiplication(x),division(/),Modulus(%),floor_division(//),exponentiation(**).
    - Assignment operators:                                                                                =, +=, -=, *=, /=, %=, //=,**=, 
    - Comparison operators: ==, !=, >, <, >=, <=.
    - Logical operators: and, or, not.
    - Identity operators: is, is not.
    - Membership operators: in, not in.
    - Bitwise operators: AND(&), OR(|), NOT(~), XOR(^), zero fill left shift(<<), signed right                                shift(>>)

2