## List
- Lists are used to store(heterogeneous) multiple items in a single variable.
- Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, (all have different qualities and usage).
- Lists are created using square brackets:[ ] or list().

In [1]:
# use the list() constructor when creating a new list.
a=list()
print(type(a))

<class 'list'>

In [2]:
b=[]
type(b)

list

In [3]:
#List is a collection used to store heterogeneous data in the form of indexes.--
#List items are indexed, the first item has index [0], the second item has index [1] etc.
l=['ravi',264,29.5,[12,13.5,45],True,False]

In [5]:
# extract or access data from list one by one
for e in l:
    print(e)

ravi
264
29.5
[12, 13.5, 45]
True
False

- List items are ordered, changeable, and allow duplicate values.

In [6]:
# List items are ordered
l

['ravi', 264, 29.5, [12, 13.5, 45], True, False]

In [7]:
#parcing perticular element using indexing
l[0]

'ravi'

In [8]:
# to print in reverse direction
l[::-1]

[False, True, [12, 13.5, 45], 29.5, 264, 'ravi']

In [9]:
l[:-1]

['ravi', 264, 29.5, [12, 13.5, 45], True]

In [10]:
#extracting perticular data type from list.
for e in l:
    if type(e)==str :
        print(e)

ravi

In [11]:
# skip perticular data type from list.
for e in l:
    if type(e)==list:
        continue
    else:
        print(e)

ravi
264
29.5
True
False

In [12]:
# extracting perticular data type from list.
for e in l:
    if type(e)==list:
        print(e)
    else:
        continue

[12, 13.5, 45]

In [13]:
for e in l:
    if type(e)==bool:
        print(e,'is a boolean data')

True is a boolean data
False is a boolean data

In [14]:
for e in l:
    if type(e)==str:
        print(e,'is a string')
    elif type(e)==int:
        print(e,'is an integer')
    elif type(e)==float:
        print(e,'is a floating point number')
    elif type(e)==list:
        print(e,'is a list')

ravi is a string
264 is an integer
29.5 is a floating point number
[12, 13.5, 45] is a list

In [15]:
l

['ravi', 264, 29.5, [12, 13.5, 45], True, False]

In [16]:
# List allow duplicate values.
l1=[242,29.5,'vit','select','vit']

In [74]:
# concatenation operation
l2=l+l1

In [75]:
l*2

[1, 22.2, 45, 55, 'ravi', 'madhu', 1, 22.2, 45, 55, 'ravi', 'madhu']

In [76]:
l2

[1, 22.2, 45, 55, 'ravi', 'madhu', 242, 29.5, 'vit', 'select', 'vit']

In [84]:
id(l2)

106593704320

In [79]:
# re-assignment operation in a perticular index
l2[0]='replace'

In [80]:
l2

['replace', 22.2, 45, 55, 'ravi', 'madhu', 242, 29.5, 'vit', 'select', 'vit']

In [85]:
id(l2)

106593704320

In [81]:
l2[0][1]='f'

TypeError: 'str' object does not support item assignment

In [82]:
# re-assignment operation works in list. but in case of string it doesn't support.
# string-->immutable  where as  list--> mutable(changeble)
s='ravi'
s[0]='h'

TypeError: 'str' object does not support item assignment

In [86]:
id(s)

106582108016

In [83]:
s.replace('r','h')

'havi'

In [87]:
id(s.replace('r','h'))

106593702128

- if we are able to change or reassigne the element in same address--->mutable (otherwise immutable)

- (Q) why string is immutable eventhough the replace() works?

In [19]:
# To determine how many items a list has, use the len() function
len(l)

6

In [20]:
# to check an element is present in collection or not using membership operators
True in l

True

In [21]:
False in l1

False

In [22]:
'vit'not in l1

False

In [23]:
max(l)

TypeError: '>' not supported between instances of 'int' and 'str'

In [24]:
max([1,2,5,4,6,54])

54

In [25]:
max(['asdf','sdec','z'])  # based on alphabetical order it gives

'z'

In [26]:
max([12,15,4,45.5,82.8])

82.8

In [27]:
min([1,2,4,5,0])

0

In [28]:
min(['ravi','madhu',21])

TypeError: '<' not supported between instances of 'int' and 'str'

In [29]:
min(['ravi','madhu','eshwar'])

'eshwar'

In [30]:
min(['fsdsl','fsdsj','fsdsa'])

'fsdsa'

In [31]:
l=[1,2,3,4,5]

- The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

In [32]:
# append the data at tail position of list
l.append('tati')

### append()
- Adds an element at the end of the list

In [33]:
l

[1, 2, 3, 4, 5, 'tati']

In [34]:
l.append([8,4,2])

In [35]:
l

[1, 2, 3, 4, 5, 'tati', [8, 4, 2]]

In [36]:
l.append(6+6j)

### insert()
- Adds an element at the specified position

In [37]:
#insert the data before specified index
l.insert(2,[1,1,2,2])

In [38]:
l

[1, 2, [1, 1, 2, 2], 3, 4, 5, 'tati', [8, 4, 2], (6+6j)]

In [39]:
l.insert(7,'reddy ravi')

In [40]:
l

[1, 2, [1, 1, 2, 2], 3, 4, 5, 'tati', 'reddy ravi', [8, 4, 2], (6+6j)]

In [41]:
l.insert(-1,True)

In [42]:
l

[1, 2, [1, 1, 2, 2], 3, 4, 5, 'tati', 'reddy ravi', [8, 4, 2], True, (6+6j)]

### count()
- Returns the number of elements present in the list with the specified value.

In [43]:
l.count(2)

1

In [44]:
l=[1,2,3,4]

In [45]:
l.append('ravi')

In [46]:
l.append(['r','a','v','i'])

In [47]:
l

[1, 2, 3, 4, 'ravi', ['r', 'a', 'v', 'i']]

### extend()
- Add the elements of a list (or any iterable), to the end of the current list

In [49]:
# first it unravel and then add to list
l.extend('tatireddy')

In [53]:
l

[1,
 2,
 3,
 4,
 'ravi',
 ['r', 'a', 'v', 'i'],
 't',
 'a',
 't',
 'i',
 'r',
 'e',
 'd',
 'd',
 'y',
 't',
 'a',
 't',
 'i',
 'r',
 'e',
 'd',
 'd',
 'y']

In [50]:
a=l.extend('tatireddy')

In [52]:
a

In [53]:
a='madhu'
list(a)

['m', 'a', 'd', 'h', 'u']

In [54]:
l.extend(45)

TypeError: 'int' object is not iterable

In [55]:
# append can insert any object but extend can insert only iterable object at the end
# extend can unwrap the iterable before inserting
l.extend((1,2,3,4))

In [56]:
l

[1,
 2,
 3,
 4,
 'ravi',
 ['r', 'a', 'v', 'i'],
 't',
 'a',
 't',
 'i',
 'r',
 'e',
 'd',
 'd',
 'y',
 't',
 'a',
 't',
 'i',
 'r',
 'e',
 'd',
 'd',
 'y',
 't',
 'a',
 't',
 'i',
 'r',
 'e',
 'd',
 'd',
 'y',
 1,
 2,
 3,
 4]

### index()
- Returns the index of the first occurance the specified value.

In [57]:
l.index('t') # it gives index of first occurance of a value

6

In [58]:
l=[2,5,6,8,98]

### pop()
- Removes the element at the specified index or position.(default last element)

In [59]:
l.pop()

98

In [60]:
l

[2, 5, 6, 8]

In [61]:
l.pop(1)

5

### remove()
- Removes the item with the specified value

In [62]:
l.remove(6)

In [65]:
l

[2, 8]

### reverse()
- Reverses the order of the list

In [63]:
l=[1,2,4,5,7,9]

In [64]:
l.reverse()

In [65]:
l

[9, 7, 5, 4, 2, 1]

### sort()
- Sorts the list (default in assending order)

In [66]:
l.sort()

In [67]:
l

[1, 2, 4, 5, 7, 9]

In [68]:
l=[1,22.2,45,55,'ravi','madhu']

In [69]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

### copy()
- The copy() method returns a copy of the specified list.

In [70]:
a=['ML','DL','CV','NLP']
ds=a.copy()

In [71]:
ds

['ML', 'DL', 'CV', 'NLP']

### clear()
- Removes all the elements from the list

In [72]:
ds.clear()

In [73]:
ds

[]

- 1. create lists inside list
- 2.

In [76]:
#TaSK
l=[[1,2.3,4+5j,True,'ravi'],[2+3j,'madhu',5,9.2,False],[True,5+6j,8.9,'eshwar',56],24,'prasadh',26.4,264+295j]
l.insert(2,[8,2.5,5+8j,True,'reddy'])

In [77]:
l.insert(1,[4,6.5,6+4j,'tatireddy'])

In [78]:
l

[[1, 2.3, (4+5j), True, 'ravi'],
 [4, 6.5, (6+4j), 'tatireddy'],
 [(2+3j), 'madhu', 5, 9.2, False],
 [8, 2.5, (5+8j), True, 'reddy'],
 [True, (5+6j), 8.9, 'eshwar', 56],
 24,
 'prasadh',
 26.4,
 (264+295j)]

In [79]:
for e in l:
    for i in e:
        if type(i)==str:
             l.index(i)
            l.remove(i)

ValueError: 'ravi' is not in list

In [80]:
l=['ravi',12.5,4+6j]
l.insert(1,[1,2,3])
l.insert(2,[11,12,'d','d','d'])
l.insert(3,[21,'t',223])

In [81]:
l

['ravi', [1, 2, 3], [11, 12, 'd', 'd', 'd'], [21, 't', 223], 12.5, (4+6j)]

In [82]:
for e in range(len(l)):
    if type(l[e])==list:
        for i in range(len(l[e])):
            print(l.index(l[e][i]))

ValueError: 1 is not in list

In [83]:
l=[1,2,3,4,5]

In [84]:
l1=[]

In [85]:
for i in 'ravi':
    l1.append(i)

In [86]:
l1

['r', 'a', 'v', 'i']

In [88]:
[[i] for i in 'madhu']

[['m'], ['a'], ['d'], ['h'], ['u']]

In [90]:
l=[]
for i in range(10):
    if i%2==0:
        l.append(i)

In [91]:
l

[0, 2, 4, 6, 8]

In [92]:
[i for i in range(10) if i%2!=0]

[1, 3, 5, 7, 9]

In [94]:
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [95]:
[i if i%2!=0 else 'even' for i in range(10)]

['even', 1, 'even', 3, 'even', 5, 'even', 7, 'even', 9]

In [98]:
mat=[]
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
print(mat)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
[[j for j in range(3)] for i in range(3)]