## Tuple

- Tuples are used to store multiple items in a single variable.

- Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

- A tuple is a collection which is ordered and unchangeable.

- Tuples are written with round brackets or paranthesis.

In [1]:
t=(1,2,3,4,5)

In [2]:
type(t)

tuple

In [3]:
t=("ravi",264,16.29,5+6j,True,[1,2,3,4])

In [4]:
type(t)

tuple

In [5]:
l=["ravi",264,16.29,5+6j,True,[1,2,3,4]]

In [6]:
type(l)

list

In [7]:
t2=()

In [8]:
type(t2)

tuple

In [11]:
t2=tuple()

In [12]:
type(t2)

tuple

In [13]:
l

['ravi', 264, 16.29, (5+6j), True, [1, 2, 3, 4]]

In [14]:
l[0:2]

['ravi', 264]

In [15]:
t

('ravi', 264, 16.29, (5+6j), True, [1, 2, 3, 4])

In [16]:
t[0:3]

('ravi', 264, 16.29)

- Accessing data using slicing is same as list slicing

In [17]:
t[::-1]

([1, 2, 3, 4], True, (5+6j), 16.29, 264, 'ravi')

In [20]:
t[-1:-4:-1]

([1, 2, 3, 4], True, (5+6j))

In [21]:
t[::2]

('ravi', 16.29, True)

In [22]:
l

['ravi', 264, 16.29, (5+6j), True, [1, 2, 3, 4]]

In [23]:
l[0]='trepy'

In [24]:
l

['trepy', 264, 16.29, (5+6j), True, [1, 2, 3, 4]]

In [25]:
t

('ravi', 264, 16.29, (5+6j), True, [1, 2, 3, 4])

In [27]:
t[0]='trepy'

TypeError: 'tuple' object does not support item assignment

- tuple is unchangeable or immutable  like string
- Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

In [28]:
s="ravi"

In [29]:
s[0]='ma'

TypeError: 'str' object does not support item assignment

In [30]:
t1=("madhu",29,1.8,20.21,True)

In [31]:
t+t1

('ravi', 264, 16.29, (5+6j), True, [1, 2, 3, 4], 'madhu', 29, 1.8, 20.21, True)

In [32]:
t1*2

('madhu', 29, 1.8, 20.21, True, 'madhu', 29, 1.8, 20.21, True)

In [33]:
t*t1

TypeError: can't multiply sequence by non-int of type 'tuple'

### Allow Duplicates
- Since tuples are indexed, they can have items with the same value

In [34]:
t3=("madhu","ravi",30,32)

In [35]:
t4=t+t3

In [36]:
t4

('ravi', 264, 16.29, (5+6j), True, [1, 2, 3, 4], 'madhu', 'ravi', 30, 32)

### Tuple methods

- index()
- Searches the tuple for a specified value and returns the position of first accurence.

In [37]:
t4.index("ravi")

0

In [38]:
t4.index("r")

ValueError: tuple.index(x): x not in tuple

In [39]:
t4.index('ravi',1,9)

7

### count() method 
- returns the number of times a specified value appears in the tuple.

In [40]:
t4.count("ravi")

2

In [43]:
t=(12,25,54,(4,5,6),(4+5j,True),[1,2,3,5,8])

In [44]:
t

(12, 25, 54, (4, 5, 6), ((4+5j), True), [1, 2, 3, 5, 8])

In [45]:
len(t)

6

In [46]:
t[5]

[1, 2, 3, 5, 8]

In [47]:
t[5][2]

3

In [48]:
t[5][2]=64

In [49]:
t

(12, 25, 54, (4, 5, 6), ((4+5j), True), [1, 2, 64, 5, 8])

In [50]:
t[5]=16295

TypeError: 'tuple' object does not support item assignment

In [51]:
t[3]

(4, 5, 6)

In [52]:
t[3][2]

6

In [53]:
t[3][2]=32

TypeError: 'tuple' object does not support item assignment

- where ever we don't want to change the data there we use tuples.
- data change is possible after converting data into list using typecasting.

In [54]:
t

(12, 25, 54, (4, 5, 6), ((4+5j), True), [1, 2, 64, 5, 8])

In [55]:
t=list(t)

In [56]:
t

[12, 25, 54, (4, 5, 6), ((4+5j), True), [1, 2, 64, 5, 8]]

In [57]:
t[0]=16295

In [58]:
t

[16295, 25, 54, (4, 5, 6), ((4+5j), True), [1, 2, 64, 5, 8]]

In [59]:
t=tuple(t)

In [60]:
t

(16295, 25, 54, (4, 5, 6), ((4+5j), True), [1, 2, 64, 5, 8])

In [61]:
# remove all duplicare items from list or tuple
t=(1,2,2,3,4,5,5,5,6,7,8,10,14,16,16)

In [62]:
st=set(t)

In [63]:
st

{1, 2, 3, 4, 5, 6, 7, 8, 10, 14, 16}

In [65]:
t=tuple(st)

In [66]:
t

(1, 2, 3, 4, 5, 6, 7, 8, 10, 14, 16)

## set
- Sets are used to store multiple unique items in a single variable.

- Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

- A set is a collection which is unordered, unchangeable*, and unindexed.
- are written with curly brackets { }.

In [67]:
st={}

In [68]:
type(st)

dict

In [69]:
st={2,3,45}

In [70]:
type(st)

set

- set is not allow duplicate elements

In [71]:
st={1,1,1,1,2,2,2,2,3,1,2,3,3,54,57,124,45}

In [72]:
st

{1, 2, 3, 45, 54, 57, 124}

- set is unordered so that accesing data is not possible

In [73]:
st[0]

TypeError: 'set' object is not subscriptable

- to do modifications change to list and then do modif

In [75]:
st1=list(st)

In [76]:
st1

[1, 2, 3, 54, 57, 124, 45]

In [77]:
st1[2]

3

In [78]:
st

{1, 2, 3, 45, 54, 57, 124}

## set methods
- add()
- The add() method adds an element to the set.If the element already exists, the add() method does not add the element.

In [79]:
st.add("rabi")

In [80]:
st

{1, 124, 2, 3, 45, 54, 57, 'rabi'}

In [81]:
st.add(2)

In [82]:
st

{1, 124, 2, 3, 45, 54, 57, 'rabi'}

In [83]:
st.add([1,2,3,1,2])

TypeError: unhashable type: 'list'

- set stores unordered unique elements. it always findout the uniqueness between primitive data types not in b/w collection.
- set items are primitive data types not collection

In [84]:
st={(1,2,3,1,3,2),1,1,2,2,1,3,4,5,6}

In [86]:
st  # it allowes sice it tuple is immutable

{(1, 2, 3, 1, 3, 2), 1, 2, 3, 4, 5, 6}

In [88]:
st={(3,4,5,9),(3,4,5,9),3,4,5,9,9,5}

In [89]:
st

{(3, 4, 5, 9), 3, 4, 5, 9}

#### remove()
- The remove() method removes the specified element from the set.

- This method is different from the discard() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

In [90]:
st.remove(4)

In [91]:
st

{(3, 4, 5, 9), 3, 5, 9}

In [92]:
st.remove(11)

KeyError: 11

#### discard()

In [93]:
st.discard(11)

In [94]:
st

{(3, 4, 5, 9), 3, 5, 9}

In [95]:
st.discard(9)

In [96]:
st

{(3, 4, 5, 9), 3, 5}

In [97]:
{"ravi","Ravi"}

{'Ravi', 'ravi'}

### copy()
- The copy() method copies the set.

In [98]:
vegetables={"pumpkin","ash pumpkin","potato","sweet potato","onion","red onion"}

In [101]:
veg1=vegetables.copy()

In [103]:
veg1

{'ash pumpkin', 'onion', 'potato', 'pumpkin', 'red onion', 'sweet potato'}

### intersection()
- Return a set that contains the items that exist in both set

In [104]:
veg2={"potato","cabbage","red cabbage","carrot","beans"}

In [105]:
v=veg1.intersection(veg2)

In [106]:
v

{'potato'}

### union()
- Return a set that contains all items from both sets, duplicates are excluded

In [107]:
v1=veg1.union(veg2)

In [108]:
v1

{'ash pumpkin',
 'beans',
 'cabbage',
 'carrot',
 'onion',
 'potato',
 'pumpkin',
 'red cabbage',
 'red onion',
 'sweet potato'}

### pop()
- The pop() method removes a random item from the set.

- This method returns the removed item.

In [109]:
v1.pop()

'sweet potato'

In [110]:
v1

{'ash pumpkin',
 'beans',
 'cabbage',
 'carrot',
 'onion',
 'potato',
 'pumpkin',
 'red cabbage',
 'red onion'}

In [111]:
v1.pop()

'cabbage'

### issubset()
- Return True if all items in set x are present in set y.

In [112]:
x={1,2,3}
y={5,6,4,3,2,1}
z=x.issubset(y)

In [113]:
z

True

### issuperset()
- Return True if all items set y are present in set x.

In [114]:
y.issuperset(x)

True

### difference()
- Return a set that contains the items that only exist in set x, and not in set y.

In [115]:
x={'a','b','c'}
y={'f','d','e','b','a','c'}

In [116]:
x.difference(y)

set()

In [130]:
y.difference(x)

{'a', 'b', 'c', 'd', 'e', 'f'}

## dictionary
- Dictionaries are used to store data values in key:value pairs.

- A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
- Dictionaries are written with curly brackets, and have keys and values

In [131]:
d={}
type(d)

dict

In [132]:
d={1,2,3}
type(d)

set

In [133]:
d={5:"ravi"}

In [21]:
d1={"key1":16295,"key2":"ravi","key3":[1,3,2,5,4]}

In [22]:
d1

{'key1': 16295, 'key2': 'ravi', 'key3': [1, 3, 2, 5, 4]}

- You can access the items of a dictionary by referring to its key name, inside square brackets

In [23]:
d1['key1']

16295

- There is also a method called get() that will give you the same result

In [24]:
d1.get('key2')

'ravi'

In [137]:
d2={#:[1,2,23.5,5+6j,True,(1,2,3)]}

SyntaxError: unexpected EOF while parsing (1258175138.py, line 1)

In [138]:
d2={@:[1,2,23.5,5+6j,True,(1,2,3)]}

SyntaxError: invalid syntax (3531229924.py, line 1)

In [1]:
d2={_4:[1,2,23.5,5+6j,True,(1,2,3)]}

NameError: name '_4' is not defined

- key does not allow the special characters
- vulues may be list,tuple, set,primitive data type or combination of all

In [3]:
d2={'@':[1,2,23.5,5+6j,True,(1,2,3)]}  # here it is a string so that it will allowed

- Dictionaries cannot have two items with the same key.
- Duplicate key values will overwrite existing key values

In [4]:
d3={"key1":2+3j,"key2":[1,2,3,4],"key1":"ravi"}

In [5]:
d3['key1']

'ravi'

In [6]:
d3

{'key1': 'ravi', 'key2': [1, 2, 3, 4]}

In [7]:
d4={"key1":2+3j,"key2":[1,2,3,4],"key3":2+3j}

In [9]:
d4  # two same values with different keyname is allow

{'key1': (2+3j), 'key2': [1, 2, 3, 4], 'key3': (2+3j)}

In [11]:
d5={"name":"Tatireddy Reavi","mob_no":123456789,"mail_id":"newage.ravieee@gmail.com",
   "key1":[1,2,3,5],"key2":(2,5,8,7),"key3":{1,2,2,1,3,3,3,5,4,4,6},"key4":{"a":2,"b":6,"c":4}}

In [12]:
d5

{'name': 'Tatireddy Reavi',
 'mob_no': 123456789,
 'mail_id': 'newage.ravieee@gmail.com',
 'key1': [1, 2, 3, 5],
 'key2': (2, 5, 8, 7),
 'key3': {1, 2, 3, 4, 5, 6},
 'key4': {'a': 2, 'b': 6, 'c': 4}}

In [13]:
d5['key4']

{'a': 2, 'b': 6, 'c': 4}

In [14]:
d5['key4']['a']

2

In [15]:
d5

{'name': 'Tatireddy Reavi',
 'mob_no': 123456789,
 'mail_id': 'newage.ravieee@gmail.com',
 'key1': [1, 2, 3, 5],
 'key2': (2, 5, 8, 7),
 'key3': {1, 2, 3, 4, 5, 6},
 'key4': {'a': 2, 'b': 6, 'c': 4}}

In [16]:
d5.keys()  # it gives list of all the keys

dict_keys(['name', 'mob_no', 'mail_id', 'key1', 'key2', 'key3', 'key4'])

In [18]:
d5.values()  # it gives list of values

dict_values(['Tatireddy Reavi', 123456789, 'newage.ravieee@gmail.com', [1, 2, 3, 5], (2, 5, 8, 7), {1, 2, 3, 4, 5, 6}, {'a': 2, 'b': 6, 'c': 4}])

In [20]:
d5.items() # it gives key-values as a list of tuples

dict_items([('name', 'Tatireddy Reavi'), ('mob_no', 123456789), ('mail_id', 'newage.ravieee@gmail.com'), ('key1', [1, 2, 3, 5]), ('key2', (2, 5, 8, 7)), ('key3', {1, 2, 3, 4, 5, 6}), ('key4', {'a': 2, 'b': 6, 'c': 4})])

In [25]:
d={"key1":"ravi","key2":[1,2,3]}

In [26]:
d["key3"]="trepy"  # adding new key to a dictionary

In [27]:
d

{'key1': 'ravi', 'key2': [1, 2, 3], 'key3': 'trepy'}

In [28]:
d["key4"]=(1,5,6,9)

In [29]:
d

{'key1': 'ravi', 'key2': [1, 2, 3], 'key3': 'trepy', 'key4': (1, 5, 6, 9)}

In [32]:
d["key1"]="madhu"  # if key is already available then it will update

In [33]:
d

{'key1': 'madhu', 'key2': [1, 2, 3], 'key3': 'trepy', 'key4': (1, 5, 6, 9)}

In [34]:
# to delete key
del d['key1']

In [35]:
d

{'key2': [1, 2, 3], 'key3': 'trepy', 'key4': (1, 5, 6, 9)}

In [36]:
# to delete entire dictionary
del d

In [37]:
d

NameError: name 'd' is not defined

In [38]:
d1={"key1":"ravi","key2":{4,5,6,89}}

In [39]:
# add key as a list not work
d1[[1,2,3,4]]="mani"

TypeError: unhashable type: 'list'

In [40]:
# key as a tuple will work since it is a ordered immutable element
d1[(1,2,3)]='mani'

In [41]:
di

NameError: name 'di' is not defined

In [42]:
d1[{2,5,8}]=9

TypeError: unhashable type: 'set'

In [1]:
d1={"key1":"transients","key2":"harmonics"}
d2={"key3":"voltage fluctuations","key4":"current fluctuations"}

In [2]:
d1.update(d2)

In [3]:
d1

{'key1': 'transients',
 'key2': 'harmonics',
 'key3': 'voltage fluctuations',
 'key4': 'current fluctuations'}

In [4]:
d2

{'key3': 'voltage fluctuations', 'key4': 'current fluctuations'}

In [5]:
d1+d2   # concatenation of two dictionaries are not possible

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [6]:
d1['key1sdfbs']  # it give error if key is not present in a dict

KeyError: 'key1sdfbs'

In [8]:
d1.get('key1dggs')  # it won't give error if key is not present

In [16]:
keys=("harmonics","transients","sag","swell")
values="PQ_issue"

In [17]:
d1.fromkeys(keys,values)   # Returns a dictionary with the specified keys and value

{'harmonics': 'PQ_issue',
 'transients': 'PQ_issue',
 'sag': 'PQ_issue',
 'swell': 'PQ_issue'}

In [18]:
d1

{'key1': 'transients',
 'key2': 'harmonics',
 'key3': 'voltage fluctuations',
 'key4': 'current fluctuations'}

In [19]:
# The pop() method removes the specified item from the dictionary.
d1.pop("key3")

'voltage fluctuations'

In [20]:
d1

{'key1': 'transients', 'key2': 'harmonics', 'key4': 'current fluctuations'}