In [1]:
s="ravi"

In [2]:
type(s)

str

In [3]:
#extracting perticular character from string
s[0]

'r'

In [4]:
s[2]

'v'

In [5]:
s[5]

IndexError: string index out of range

In [6]:
len(s)

4

In [7]:
s[4]

IndexError: string index out of range

In [8]:
s[len(s)-1]

'i'

In [9]:
s[-1]

'i'

In [10]:
s[-4]

'r'

In [11]:
a="my name is ravi"

In [12]:
a[0]

'm'

In [13]:
a[-1]

'i'

In [14]:
#accaess range of characters
a[100]

IndexError: string index out of range

In [15]:
a[0:100]

'my name is ravi'

In [16]:
a[:]  #defualt start index is 0 and end index is -1

'my name is ravi'

In [17]:
a[:2]

'my'

In [18]:
a[3:7]

'name'

In [19]:
a[:11]

'my name is '

In [20]:
a[11:]

'ravi'

In [21]:
len(a)

15

In [22]:
a[:15]

'my name is ravi'

In [23]:
b="your goal is become a datascientist"

In [24]:
b[::1]  # 1 positive jump

'your goal is become a datascientist'

In [25]:
b[::2]

'yu oli eoeadtsinit'

In [26]:
b[-1:-4]

''

In [27]:
c="tatireddy ravi"

In [32]:
c[0:300:-1]   #traverse direction is 0 to 300
               # jump is negative direction so that there is a conflict.

''

In [33]:
c[-1:-4]  #default jump size is positive so that there is a conflict.

''

In [36]:
c[-1:-4:-1]   #negative jump of 1

'iva'

In [37]:
c

'tatireddy ravi'

In [38]:
c[-2:]

'vi'

In [39]:
c[-2:-1]

'v'

In [40]:
c[::-1]

'ivar ydderitat'

In [41]:
c[-1::-1]

'ivar ydderitat'

In [42]:
c[-2:2]

''

In [45]:
"ravi"*3   # to repeat string 'n' no.of times

'raviraviravi'

In [46]:
"ravi"+"tatireddy"  #concatination of two strings

'ravitatireddy'

In [48]:
len(c)  #length of string including spaces

14

In [50]:
"ravi"*"tatireddy"

TypeError: can't multiply sequence by non-int of type 'str'

In [51]:
a="tatireddy ravi"

## Python string methods

In [52]:
# Converts the first character to upper case
a.capitalize()

'Tatireddy ravi'

In [54]:
#Converts string into lower case
a="Tarireddy Ravi"
a.casefold()

'tarireddy ravi'

In [58]:
#Returns a centered string
a.center(50,'-')

'------------------Tarireddy Ravi------------------'

In [59]:
#Returns the number of times a specified value occurs in a string
a.count('i')

2

In [60]:
b="red bananas are good than other bananas"
b.count('bananas')

2

In [62]:
#Returns an encoded version of the string
s="red bananas are good than other bananas"
s.encode()

b'red bananas are good than other bananas'

In [63]:
#Returns true if the string ends with the specified value
s.endswith('a')

False

In [64]:
s.endswith('s')

True

In [67]:
#Sets the tab size of the string
s='R\tA\tV\tI'
print(s.expandtabs())
print(s.expandtabs(8))
print(s.expandtabs(3))

R       A       V       I
R       A       V       I
R  A  V  I

In [69]:
#Searches the string for a specified value and returns the position(index) of where it was found
a="tatireddy ravi"
a.find('i')

3

In [75]:
a.find("i",5,14)

13

In [76]:
a.find("i",5,13)

-1

In [70]:
#Formats specified values in a string
"my name is {fname},i am {age}".format(fname="ravi",age=30)

'my name is ravi,i am 30'

In [73]:
"my name is {0},i am {1}".format("madhu",31)

'my name is madhu,i am 31'

In [72]:
"my name is {},i am {}".format("eshwar",1)

'my name is eshwar,i am 1'

In [77]:
#The index() method is almost the same as the find() method, the only difference is --
#that the find() method returns -1 if the value is not found. 
a="my name is eshwar prasad reddy"
a.index('e')

6

In [78]:
a.index('reddy')

25

In [79]:
a.index('z')

ValueError: substring not found

In [80]:
#Returns True if all characters in the string are in the alphabet
a='ravi'
a.isalpha()

True

In [81]:
a='ravi '
a.isalpha()

False

In [82]:
a='ravi12 '
a.isalpha()

False

In [83]:
#Returns True if all characters in the string are numeric
a='12345'
a.isnumeric()

True

In [84]:
a='ra125'
a.isnumeric()

False

In [85]:
#Returns True if all characters in the string are alphanumeric
a='ravi264'
a.isalnum()

True

In [86]:
a='ravi16295 '
a.isalnum()

False

## translate
- The translate() method returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.

- Use the maketrans() method to create a mapping table.

- If a character is not specified in the dictionary/table, the character will not be replaced.

- If you use a dictionary, you must use ascii codes instead of characters.

In [90]:
#Use a mapping table to replace "S" with "P":
txt="Hello zero"
mytable=txt.maketrans('z','H')
print(txt.translate(mytable))

Hello Hero

In [91]:
#Use a mapping table to replace many characters:
txt='hi ravi'
x='ivra'
y='irha'
mytable=txt.maketrans(x,y)
print(mytable)
print(txt.translate(mytable))

{105: 105, 118: 114, 114: 104, 97: 97}
hi hari

In [92]:
#The third parameter in the mapping table describes chrters that you want to remove from the string:
txt='good night ravi'
x='ravi'
y='hari'
z='odigh'
mytable=txt.maketrans(x,y,z)
print(mytable)
print(txt.translate(mytable))

{114: 104, 97: 97, 118: 114, 105: None, 111: None, 100: None, 103: None, 104: None}
 nt har

In [89]:
#Converts a string into upper case
a="tatireddy ravi"
a.upper()

'TATIREDDY RAVI'

In [87]:
#The zfill() method adds zeros (0) at the beginning of the string,--
#until it reaches the specified length.
a='20'
a.zfill(10)

'0000000020'

In [88]:
#If the value of the len parameter is less than the length of the string, no filling is done.
a='hello welcome you all'
a.zfill(10)

'hello welcome you all'